html {
  font-size: 16px;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted black;
}

header img {
  height: 50px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

#statement {
  position: relative;
  display: inline-block;
}

#statement img {
  display: block;
  width: 100%;
  height: auto;
}

#statement h3 {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#team {
  max-width: 100%;
  text-align: center;
  border-top: 1px dotted black;
  padding-top: 25px;
}

.members {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.member img {
  width: 100%;
  max-width: 450px;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover
}

#contact {
  display: flex;
  flex-direction: column;
  border-top: 1px dotted black;
  text-align: center;
  padding: 10px 10px;
}

#contact h3 {
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  header img {
    display: none;
  }
  nav {
    display: none;
  }
  header {
    justify-content: center;
  }
}

@media only screen and (max-width: 1080px) {
  header img {
    display: none;
  }
  header {
    padding: 0 15px;
  }
}
